@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model SmtpMailDam.Website.Models.MailboxViewModel

<h4>Mailbox</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MailboxId" />
            <input type="hidden" asp-for="Origin" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImapEnabled" class="control-label"></label>
                <input asp-for="ImapEnabled" class="form-control" />
                <span asp-validation-for="ImapEnabled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImapHost" class="control-label"></label>
                <input asp-for="ImapHost" class="form-control" />
                <span asp-validation-for="ImapHost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImapPort" class="control-label"></label>
                <input asp-for="ImapPort" class="form-control" />
                <span asp-validation-for="ImapPort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImapSSLEnabled" class="control-label"></label>
                <input asp-for="ImapSSLEnabled" class="form-control" />
                <span asp-validation-for="ImapSSLEnabled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImapUsername" class="control-label"></label>
                <input asp-for="ImapUsername" class="form-control" />
                <span asp-validation-for="ImapUsername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImapPassword" class="control-label"></label>
                <input asp-for="ImapPassword" class="form-control" />
                <span asp-validation-for="ImapPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Passthrough" class="control-label"></label>
                <input asp-for="Passthrough" class="form-control" />
                <span asp-validation-for="Passthrough" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="@Model.Origin" asp-route-id="@Model.MailboxId" class="btn btn-secondary">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}