/SmtpMailDam.Common/obj
/SmtpMailDam.Common/bin
/SmtpMailDam.Website/bin
/SmtpMailDam.Website/obj
/SmtpMailDam.Worker/bin
/SmtpMailDam.Worker/obj
/SmtpMailDam.Website/main.log
/SmtpMailDam.Worker/main.log
