@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SmtpMailDam</h1>
    <p>SmtpMailDam allows you to intercept all mails sent through an SMTP server and serve it at this website. Multiple environments can be hosted through this one instance.</p>
</div>
